nav{
    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        li{
            display: inline-block;
            a{
                padding: 5px;
            }
        }
    }
}